<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>
      <%# messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得しています。 %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
      <%# messagesテーブルのcreated_atカラムから、投稿した時刻を取得しています。
      ただし、現段階では日本基準の時刻ではありません。  %>

      <%# l（エル）メソッドは、日付や時刻を表示するRailsのメソッドです。
      国や地域によって時刻は異なりますが、lメソッドを使えば指定した現地時間に対応できます。 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
      <%# messagesテーブルのcontentカラムから、メッセージの内容を取得しています。 %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
<%# img要素を生成するRailsのヘルパーメソッドです。
image_tagメソッドでは、複雑なRailsのディレクトリパスを指定しなくても、
モデルから画像ファイルを呼び出して引数に記述するだけで、画像を表示するimg要素を生成します。
この記述によって、画像を表示できます。
しかし、このままの記述では、画像が存在しない場合でも、画像を表示する記述が読み込まれて、エラーを引き起こしてしまいます。
この問題を解決するために、メッセージに画像が添付されているかをチェックするattached?というメソッドを使用します。

＜variantメソッド＞
Active Storageを導入している場合に使用可能なメソッドです。
variantメソッドを使用することで、ファイルの表示サイズを指定できます。 %>
  </div>
</div>
